<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobvoi.android.test" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="Guardian Angel"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SensorActivity"
            android:label="Guardian Angel" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddContact"
            android:label="AddContact"
            android:parentActivityName=".SensorActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".HelpScreen"
            android:label="HelpScreen"
            android:parentActivityName=".SensorActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".SettingsScreen"
            android:label="SettingsScreen"
            android:parentActivityName=".SensorActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".EditContact"
            android:label="EditContact"
            android:parentActivityName=".SensorActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".HapticFeedback"
            android:label="HapticFeedback"
            android:parentActivityName=".SensorActivity"
            android:uiOptions="splitActionBarWhenNarrow" />

        <service android:name=".FunctionTestService" >
            <intent-filter>
                <action android:name="com.mobvoi.android.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <service android:name="com.mobvoi.android.wearable.WearableListenerServiceGoogleImpl">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
